@model IEnumerable<eventHub.Models.EventViewer>

@{
    ViewData["Title"] = "Potwierdzenie";
}

<h1>Potwierdzenie</h1>
<hr />

<h3>Pomyślnie dodano wydarzenie do zainteresowanych.</h3>
<a asp-action="Index">Powrót do polecanych wydarzeń</a>