@model IEnumerable<eventHub.Models.EventViewer>

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>
<hr />

<h3>The event has been successfully added to interested.</h3>
<a asp-action="Index">Back to List</a>